@font-face {
	font-family: NotoSerifDisplayCondensed;
	font-display: swap;
	src: url("..fonts/noto-serif-display-condensed-semi-bold.woff2") format("woff2"), url ("../fonts/noto-serif-display-condensed-semi-bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: NotoSerifDisplaySemiCondensed;
	font-display: swap;
	src: url("..fonts/NotoSerifDisplay-SemiCondensedBold.woff2") format("woff2"), url ("../fonts/NotoSerifDisplay-SemiCondensedBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: NotoSerifDisplaySemiCondensed;
	font-display: swap;
	src: url("..fonts/NotoSerifDisplay-SemiCondensedMedium.woff2") format("woff2"), url ("../fonts/NotoSerifDisplay-SemiCondensedMedium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: NotoSerifDisplaySemiCondensed;
	font-display: swap;
	src: url("..fonts/NotoSerifDisplay-SemiCondensedSemiBold.woff2") format("woff2"), url ("../fonts/NotoSerifDisplay-SemiCondensedSemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
