.footer {
    border-top: 1px solid $black;
    padding: 80px 0px;
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 768px){
            flex-direction: column-reverse;
            align-items: flex-start;
            .footer__info {
                width: 100%;
            }
            .footer__logo {
                display: none;
            }
            .footer__name {
                border-right: 0;
                margin-left: 0;
                padding: 30px 0px 0px 0px;
                width: 100%;
            }
            .footer__title {
                padding-bottom: 10px;
            }
            .footer__group { 
                margin-top: 10px;
            }
        }
    }
    &__name {
        margin-left: 80px;
        flex: 0 1 30%;
        padding: 60px 20px 60px 0px;
        border-right: 1px solid $black;
    }
    &__title {
        position: relative;
        padding-bottom: 50px;
        border-bottom: 1px solid $black;
    }
    &__group {
        margin-top: 50px;
        p {
            color:$grey;
        }
    }
    &__logo {
        flex: 0 1 40%;
    }
    &__img {
        margin: 0 auto;
        max-width: 255px;
        max-height: 255px;
        background-color: $grey;
        border-radius: 50%;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        flex: 1 0 30%;
    }
    .info-footer {
        position: relative;
        padding-left: 20px;
        border-left: 1px solid $black;
        &__links {
            margin-top: 16px;
            padding-bottom: 26px;
            display: flex;
            flex-direction: column;
            position: relative;
            border-bottom: 1px solid $black;
            a {
                font-weight: 400;
            }
        }
        &__socials {
            margin-top: 26px;
            padding-bottom: 26px;
            display: flex;
            flex-direction: column;
            position: relative;
            border-bottom: 1px solid $black;
            a {
                font-weight: 400;
            }
        }
        &__place {
            margin-top: 26px;
            max-width: 216px;
        }
    }
    a {
        transition: all 0.6s ease 0s;
        &:hover {
            transition: all 0.6s ease 0s;
            color: $brown;
        }
    }
}