// PROMO
.promo-opus {
    padding-bottom: 130px;
    color: $white;
    background: url('../img/opus-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    &__title {
        margin-top: 150px;
        text-align: center;
    }
    &__text {
        text-align: center;
    }
    &__link {
        margin-top: 450px;
        text-align: center;
        a {
            position: relative;
            z-index: 2;
            transition: all 0.6s ease 0s;
            &:before {
                position: absolute;
                content: '';
                transition: all 0.6s ease 0s;
                top: 20%;
                left: -28px;
                width: 16px;
                height: 16px;
                background: $red;
                border-radius: 50%;
                z-index: -1;
            }
        }
    }
    &__socials {
        margin-top: 50px;
    }
}
// /PROMO
// DESSERTS
.desserts {
    margin-top: 200px;
    &__title {
        text-align: center;
    }
    &__sub-title {
        margin: 40px auto 0px auto;
        max-width: 460px;
        text-align: center;
    }
    &__carts {
        margin-top: 60px;
    }
    &__slider {
        max-width: 1280px;
    }
    .swiper-wrapper {
        padding: 0px 110px;
    }
    .swiper-slide {
        max-width: 265px;
    }
    .swiper-button-prev::after {
        color: $black;
    }
    .swiper-button-next::after {
        color: $black;
    }
    &__img {
        max-width: 265px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        margin-top: 40px;
    }
    &__text {
        margin-top: 16px;
        padding-bottom: 40px;
        border-bottom: 1px solid $black;
        color: $stroke;
    }
    &__price {
        margin-top: 10px;
    }
    &__link {
        margin-top: 20px;
        padding: 0px 0px 10px 30px;
        border-bottom: 1px solid $black;
        a {
            position: relative;
            z-index: 2;
            transition: all 0.6s ease 0s;
            &:before {
                position: absolute;
                content: '';
                transition: all 0.6s ease 0s;
                top: 20%;
                left: -28px;
                width: 16px;
                height: 16px;
                background: $red;
                border-radius: 50%;
                z-index: -1;
            }
        }
    }
}
// /DESSERTS
// ATRIBUTE
.atribute {
    margin-top: 190px;
    &__body {
        display: flex;
        justify-content: space-between;
        @media(max-width: 900px){
            flex-direction: column;
            gap: 30px;
        } 
    }
    &__name {
        flex: 0 1 50%;
        padding-left: 55px;
        @media(max-width: 900px){
            padding: 0;
        }
        @media(max-width: $md4 + px){
            max-width: 210px;
        }
    }
    &__image {
        margin-top: 255px;
        max-width: 290px;
        max-height: 400px;
        @media(max-width: 900px){
            display: none;
        } 
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__desc {
        flex: 0 1 50%;
        padding-left: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background: $black;
        }
        @media(max-width: 900px){
            gap: 150px;
        }
    }
    &__foto {
        max-width: 650px;
        max-height: 670px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media(max-width: 1200px){
            max-width: 544px;
        } 
    }
}
// /ATRIBUTE
// VALUES 
.values {
    margin-top: 160px;
    &__title {
        margin-left: 60px;
    }
    &__list {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        @media(max-width: $md3+px){
            flex-direction: column;
        }
    }
    &__item {
        &:nth-child(1) {
            flex: 0 1 25%;
            margin-top: 220px;
            .values__info {
                margin-left: auto;
            }
            @media(max-width: $md3+px){
                .values__info {
                    margin-left: 0;
                }
                margin-top: 40px;
            }
        }
        &:nth-child(2) {
            flex: 0 0 30%;
            @media(max-width: $md3+px){
                .values__image {
                    display: none;
                }
            }
        }
        &:nth-child(3) {
            margin-top: 220px;
            flex: 0 0 25%;
            @media(max-width: $md3+px){
                .values__image {
                    display: none;
                }
                margin-top: 0;
            }
        }
    }
    &__info {
        margin-top: 30px;
        max-width: 280px;
        @media(max-width: $md3+px){
            max-width: 100%;
        }
    }
    &__image {
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        margin-top: 20px;
    }
}
// /VALUES
// BRANDS
.brands {
    margin-top: 160px;
    @media(max-width: 860px){
        margin-top: 80px;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @media(max-width: 1300px){
            flex-direction: row-reverse;
        }
        @media(max-width: 860px){
            flex-direction: column-reverse;
        }
    }
    &__icons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
        @media(max-width: 1300px){
            max-width: 540px;
            .brands__item {
                &:nth-child(4),
                &:nth-child(6){
                    display: none;
                }
            }
        }
        @media(max-width: 1050px){
            max-width: 350px;
        }
        @media(max-width: 860px){
            gap: 15px;
        }
        @media(max-width: 364.8px){
            max-width: 160px;
        }
    }
    &__item {
        flex: 0 0 160px;
        height: 160px;
        border-radius: 50%;
        border: 1px solid $black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__circle {
        flex: 0 0 512px;
        height: 512px;
        background: $brown;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media(max-width: 1300px){
            flex: 0 0 460px;
            height: 460px;
            .brands__title {
                max-width: 310px;
            }
            .brands__text {
                max-width: 310px;
            }
        }
        @media(max-width: 860px){
            padding: 0px 75px;
        }
        @media(max-width: $md4+px){
            padding: 0px 35px;
            max-height: 335px;
            .brands__line {
                margin-top: 20px;
                height: 70px;
            }
            .brands__text {
                margin-top: 20px;
                max-width: 265px;
            }
        }
        @media(max-width: 364.8px){
            max-height: 290px;
        }
    }
    &__title {
        max-width: 350px;
        text-align: center;
    }
    &__line {
        margin-top: 32px;
        width: 1px;
        height: 120px;
        background: $black;
    }
    &__text {
        margin-top: 32px;
        text-align: center;
        max-width: 350px;
    }
}
// /BRANDS
// REVIEW-OPUS
.review-opus {
    margin-top: 160px;
    background: url('../img/back-review-opus.png');
    background-size: cover;
    background-position-y: center;
    padding: 250px 0px;
    .review__slide {
        background: $brown;
        z-index: 10;
    }
    @media(max-width: $md3+px){
        margin-top: 80px;
    }
}
// /REVIEW-OPUS
// INFO-OPUS
.info-opus {
    margin-top: 175px;
    &__title {
        margin-left: 210px;
    }
    &__list {
        margin-top: 90px;
    }
    .list-info__item {
        &.active {
            background-color: $brown;
        }
    }
    @media(max-width: $md2+px){
        &__title {
            margin-left: 15px;
        }
    }
}
// INFO-OPUS
// INSTAGRAM
.instagram {
    margin-top: 190px;
    &__info {
        padding: 0px 135px 0px 55px;
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: space-between;
        @media(max-width: $md3+px){
            padding: 0;
        }
    }
    &__text {
        max-width: 435px;
        a {
            transition: all 0.6s ease 0s;
        }
    }
    &__posts {
        margin: 112px 0px 0px 160px;
        position: relative;
        &:hover {
            .instagram__btn {
                svg path {
                    animation: btn-hover 1.5s linear infinite;
                    @keyframes btn-hover {
                        0% {
                            transform: translate(0, 0);
                        }
                        10% {
                            transform: translate(0, 0);
                        }
                        33% {
                            transform: translate(120%, 0);
                            opacity: 0;
                        }
                        66% {
                            transform: translate(-120%, 0);
                            opacity: 0;
                        }
                        100% {
                            transform: translate(0, 0);
                            opacity: 1;
                        }
                    }
                }
            }
        }
        @media(max-width: $md3+px){
            margin: 40px 0px 0px 50px;
        }
    }
    &__btn {
        position: absolute;
        z-index: 5;
        top: 35%;
        left: -65px;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: $brown;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: $md3+px){
            width: 75px;
            height: 75px;
            left: -40px;
            svg {
                width: 42px;
            }
        }
    }
    &__img {
        max-width: 435px;
        max-height: 435px;
        min-width: 250px;
        min-height: 250px;
        img {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }
    &__link {
        margin-top: 30px;
        padding-left: 15px;
        a {
            position: relative;
            z-index: 2;
            transition: all 0.6s ease 0s;
            &:before {
                position: absolute;
                content: '';
                transition: all 0.6s ease 0s;
                top: 20%;
                left: -15px;
                width: 16px;
                height: 16px;
                background: $red;
                border-radius: 50%;
                z-index: -1;
            }
        }
    }
}
// /INSTAGRAM
// ABOUT-OPUS
.about-opus {
    margin-top: 190px;
    padding-bottom: 80px;
    &__body {
        padding: 0px 70px 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        @media(max-width: 1300px){
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    &__maps {
        iframe {
            max-width: 615px;
            max-height: 615px;
        }
        @media(max-width: $md4+px){
            max-height: 375px;
        }
    }
    &__contacts {
        padding: 116px 150px 140px 150px;
        border-radius: 50%;
        border: 1px solid $black;
        @media(max-width: 1300px){
            padding-bottom: 116px;
        }
        @media(max-width: $md3+px){
            padding: 90px 130px;
        }
        @media(max-width: 530px){
            padding: 40px 80px;
            font-size: 14px;
        }
        @media(max-width: 375px){
            padding: 20px 40px;
        }
    }
    &__title {
        text-align: center;
    }
    &__mail {
        text-align: center;
        margin-top: 40px;
        padding: 10px 0px;
        border-bottom: 1px solid $black;
        a {
            font-weight: 400;
            transition: all 0.6s ease 0s;
            &:hover {
                transition: all 0.6s ease 0s;
                color: $brown;
            }
        }
        @media(max-width: 1300px){
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        @media(max-width: 530px){
            margin-top: 30px;
        }
        @media(max-width: 375px){
            margin-top: 0px;
        }
    }
    &__place {
        margin: 10px auto 0px auto;
        padding: 10px 0px;
        max-width: 200px;
        @media(max-width: 530px){
            max-width: 210px;
        }
    }
    &__schedule {
        padding: 20px 0px 10px 0px;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        text-align: center;
        @media(max-width: 530px){
            border-bottom: 0;
        }
    }
}