// COLORS
$yellow: #FFCC48;
$brown: #D8B78C;
$red: #CE0000;
$black: #1B1B1B;
$white: #FEFEFE;
$grey: #7B7A76;
$light-grey: #EBEBEB;
$bg-color: #FFFDF6;
$bg-error: #FFF5F5;
$bg-error2: #F7F7FD;
$stroke: #68665D;
$stroke-focused: #605DEC;
$stroke-error: #FFD8D8;
